body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

#header {
  background-color: rgba(226, 108, 106, 1);
  color: #fff;
}

#search {
  padding: 5em 1em;
}

.form-control {
  height: 50px;
  font-size: 16px;
}

.form-control:focus {
  border: 1px solid #ccc;
  box-shadow: none;
}

.btn {
  outline: none !important;
  background-color: rgba(226, 108, 106, 1) !important;
  color: #fff !important;
  text-transform: uppercase;
  height: 50px;
}

.btn:hover {
  background-color: rgba(226, 108, 106, 1) !important;
  color: #fff !important;
}

.pending {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-spin {
  color: rgba(226, 108, 106, 1);
}

ul {
  padding: 0;
}

.home__container {
  list-style-type: none;
  display: flex;
  border: 1px solid #ccc;
  margin: 2em;
  text-transform: uppercase;
}

.home__container > div {
  padding: 1em;
}
.price__container {
  border-right: 1px solid #ccc;
  min-width: 200px;
  min-height: 100px;
  background-color: rgba(226, 108, 106, 1);
  color: #fff;
}

.home__details {
    width: 100%;
}
